{% load crispy_forms_tags %}
{% block contenu %}
<div class="form-group container">
  <h1 align="center">Ajout {% if nom_element %} des {{ nom_element }} {% endif %}</h1>
  <hr>
    {% if msg != None %}
      <div style="color: green; border: 1px solid green; padding: 5px">
        {{ msg }}
      </div>
    {% endif %}
    <div class="custom-control custom-checkbox">
        <form method="POST">
            {% csrf_token %}
            {{ formulaire|crispy }}
            <input type="submit" class="btn btn-primary" value="Valider">
        </form>
    </div>
</div>
{% endblock contenu %}
